---
let allPosts = await Astro.glob("../data/projects/*.md")
allPosts = allPosts.sort(
	(a, b) =>
		new Date(b.frontmatter.publishDate).valueOf() -
		new Date(a.frontmatter.publishDate).valueOf()
)
---

<div class="flex flex-col items-center justify-center gap-4">
	{
		allPosts.map((post, index) => {
			const href = `/projects/${post.file.split("/").pop()?.split(".").shift()}`
			return (
				<>
					<div class="card w-72 md:card-side md:w-full bg-base-100 shadow">
						<figure class="max-w-80 md:min-w-80">
							<img src={post.frontmatter.image} alt={post.frontmatter.title} />
						</figure>
						<div class="card-body">
							<h3 class="card-title">{post.frontmatter.title}</h3>

							<p class="font-thin">{post.frontmatter.description}</p>

							<div class="card-actions flex-col mt-2">
								<div class="flex gap-2">
									<a
										class="btn btn-sm btn-secondary"
										href={post.frontmatter.link}
									>
										App
									</a>
									<a
										class="btn btn-sm btn-neutral"
										href={post.frontmatter.github}
									>
										Repo
									</a>
								</div>

								<div class="mt-4 flex flex-wrap gap-1">
									{post.frontmatter.skills.map((skill: string) => (
										<div class="badge badge-ghost">{skill}</div>
									))}
								</div>
							</div>
						</div>
					</div>
				</>
			)
		})
	}
</div>
<style>
	.badge {
		font-family: var(--font-family-sans);
	}
</style>
