---
import BaseLayout from "../../layouts/BaseLayout.astro"

const title = "Projects"
const description = "Latest articles."
const permalink = `${Astro.site!.href}projects`

let allPosts = await Astro.glob("../../data/projects/*.md")
allPosts = allPosts.sort(
	(a, b) =>
		new Date(b.frontmatter.publishDate).valueOf() -
		new Date(a.frontmatter.publishDate).valueOf()
)
---

<BaseLayout
	title={title}
	description={description}
	permalink={permalink}
	current="projects"
>
		<h1 class="text-6xl text-accent font-extrabold mb-6">Projects</h1>
		{
			allPosts.map((post, index) => {
				const href = `/projects/${post.file
					.split("/")
					.pop()
					?.split(".")
					.shift()}`
				return (
					<div>
						<div class="card lg:card-side bg-base-100 shadow-xl">
							<figure>
								<img
									src={post.frontmatter.image}
									alt={post.frontmatter.title}
									
								/>
							</figure>
							<div class="card-body">
								<h2 class="card-title">{post.frontmatter.title}</h2>
								<div>
									<p>{post.frontmatter.description}</p>
									<a
									class="btn btn-sm btn-neutral"
									href={post.frontmatter.link}
									>
										Link
									</a>
									<a
										class="btn btn-sm btn-outline"
										href={post.frontmatter.github}
									>
										Repo
									</a>
									</div>
									<span>{post.frontmatter.skills}</span>
									<div>
								</div>
								<div class="card-actions justify-end">
									<div class="uppercase">{post.frontmatter.publishDate}</div>

								</div>
							</div>
						</div>
					</div>
				)
			})
		}
</BaseLayout>

<style>
	img {
		width: max(400px, 100%)
	}
</style>